@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    width: 50%;
    background-image: url(img/ex4_2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    width: 50%;
    padding: 20px;
}

h1 {
    color: #0004ff;
    margin-bottom: 20px;
    border-bottom-style: inset;
}

p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    margin-top: 20px;
}