@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 65vw;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    width: 40%;
}

header img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

header img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

main {
    width: 60%;
    padding-left: 20px;
}

h1 {
    color: #0004ff;
    margin-bottom: 20px;
    border-bottom-style: inset;
}

p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

pre {
    background-color: #f4f4f4;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

